.input {
  padding: 20px;
  font-size: 64px;
  border: none;
  border-radius: 8px;
  outline: none;
  width: 100%;
  background-color: transparent;
  color: var(--text-color);

  margin-bottom: 20px;
}

.input::placeholder {
  color: #b3b3b1;
}

.editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  height: 700px;
  position: relative;
}

.btn,
.addBtn {
  width: 36px;
  height: 36px;
  border: 1px solid #b3b3b1;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addBtn {
  border-color: #1a8917;
}

.add {
  display: flex;
  gap: 20px;
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 50px;
  background-color: var(--bg-color);
}
.customTextArea {
  padding: 20px;
  font-size: 20px;
  border: 1px solid #b3b3b1;
  border-radius: 8px;
  color: #b3b3b1;
  background-color: var(--bg-color);
  resize: vertical;
  height: 200px;
}

.customTextArea::placeholder {
  color: var(--text-color);
}
.publishBtn {
  padding: 10px 20px;
  width: max-content;
  border: none;
  border-radius: 20px;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
}

.publishBtn:disabled {
  cursor: not-allowed;
  background-color: gray;
}

.select {
  margin-bottom: 20px;
  padding: 12px;
  width: 100%;
  border: 1px solid #b3b3b1;
  border-radius: 8px;
  background-color: var(--bg-color);
  color: #b3b3b1;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
