.container {
  margin-top: 50px;
}

.title {
  color: var(--soft-textColor);
  margin-bottom: 30px;
}

.comments {
  margin-bottom: 50px;
}
.comment {
  margin-top: 50px;
}
.write {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.input {
  width: 100%;
  padding: 20px;
}

.editCancel {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.updateBtn,
.cancelBtn {
  padding: 8px 15px;
  background-color: #0ea5e9;
  color: var(--textColor);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.cancelBtn {
  background-color: #f43f5e;
}

.btn {
  padding: 16px 20px;
  background-color: teal;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.img {
  border-radius: 50%;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--soft-textColor);
}

.userName {
  font-weight: 500;
}

.date {
  font-size: 14px;
}

.desc {
  font-size: 18px;
  font-weight: 300;
}

.editDelete {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.editBtn,
.deleteBtn {
  background-color: rgb(14 165 233);
  color: var(--textColor);
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.deleteBtn {
  background-color: #f43f5e;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
